---
import TechsFooter from './TechsFooter.astro'
interface Props {
  company: string
  experience: string[]
  img: string
  imgAlt: string
  job: string
  period: string
  techs: string[]
}

const { company, experience, img, imgAlt, job, period, techs } = Astro.props
---

<article class="relative bg-brand-light p-2 pt-4 pb-24 rounded-md text-brand-dark">
  <div class="flex items-center border-b-2 border-b-brand-light-100 pb-3">
    <figure class="w-12 mr-2">
      <img
        class="object-contain"
        src={img}
        alt={imgAlt}
      />
    </figure>
    <div class="w-full">
      <h3 class="whitespace-nowrap leading-4">
        {company}<br />
        <span class="text-xs font-bold text-brand-dark-300">
          {job}
        </span>
      </h3>
      <h4 class="text-xs text-brand-dark-300">{period}</h4>
    </div>
  </div>
  <!-- Cuerpo del article -->
  <div class="mt-3">
    <ul
      class="text-sm text-brand-dark-300 list-disc list-inside px-2 flex flex-col gap-3 marker:text-brand-dark"
    >
      {
        experience.map((text) => (
          <li>
            <span class="-ml-2">{text}</span>
          </li>
        ))
      }
    </ul>
  </div>
  <TechsFooter techs={techs}/>
</article>
